/*Name: Yogesh C
    ID: w1666958
  Date: 7/11/2022*/
body {
  height: 100vh;
  background-image:url(images/space.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center ;
  display:block;
}
header{
  color:#bcb943;
  text-align:center;
}
h1{
  background-image:url(images/programming.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  line-height: 100%;
  height:72px;
  padding:0;
  margin: 1px;
}
h2{
  color:#bcb943;
  text-align:center; 
  margin:20px;
  border-style: inset;
  padding: 15px;
  
}
ul{
  display:block;
  color:#4db378;
  margin:10px;
  padding:1px;
}
li{
  position:relative;
  left:50px;
  margin:2px;
  padding:2px;
}
h3{
  color:#ffffff;
  margin:12px;
  padding:2px;
}
p{
  color:#ffffff;
  margin:10px;
  padding:15px;
  position:relative;
  left:20px;

}nav{
  border: 2px dashed #ffffff;
  text-align:center;
  padding:10px;
  margin:5px;
  font-size:20px;
}
#wrapper{
  min-width:700px;
  max-width:1024px;
  margin-left: auto;
  margin-right: auto;  
  display:block;
}
#scrolly{
  position:relative;
  left:23px;
  height:120px;
  width:975px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
}
.homepgpic{
  width:150px;
  height:100px;
  float:left;
  position:relative;
  top:-20px;
  left:20px;
  margin-right:200px;
  margin-bottom:2px;
  padding:2px;
}
a:link{text-decoration:none; color:#bcb943;}
a:visited{color:#38c7c7;}
a:hover{color:#4db378}