
body {
  height: 150vh;
  background-image:url(images/space.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center ;
  display:block;
}
header{
  color:#bcb943;
  text-align:center;
}
.text{
  text-align:left;
}
h1{
  background-image:url(images/programming.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  line-height: 100%;
  height:72px;
  padding:0;
  margin: 1px;
}
h2{
  color:#bcb943;
  text-align:center; 
  margin:20px;
  border-style: inset;
  padding: 15px;
  
}
ul{
  display:block;
  color:#4db378;
  margin:10px;
  padding:1px;
}
li{
  position:relative;
  left:50px;
  margin:2px;
  padding:2px;
}
h3{
  color:#ffffff;
  margin:12px;
  padding:2px;
}
footer{
  background-color:#000000;
  color:#FFFFFF;
  font-size:1em;
  font-style:italic;
  text-align:center;
  padding:1em;
  clear:right;
  position:relative;
  top:10px;
}
p{
  background-color:#1f1f1f;
  color:#ffffff;
  margin:10px;
  padding:15px;
 
  font-weight:bold;

}nav{
  border: 2px dashed #ffffff;
  text-align:center;
  padding:10px;
  margin:5px;
  font-size:20px;
}
#wrapper{
  min-width:700px;
  max-width:1024px;
  margin-left: auto;
  margin-right: auto;  
  display:block;
}
#scrolly{
  position:relative;
  left:23px;
  height:120px;
  width:975px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
}
table{
  background-color:#000000;
  border:2px solid #8000ff;
  width:90%;
  border-collapse:collapse;
  margin-left:50px;
}
td{
  text-align:center;
  color:#FFFFFF;
}
td, th{
  padding:5px;
  border:1px solid #cdc932;
  color:#FFFFFF;
}
.homepgpic{
  width:150px;
  height:100px;
  float:left;
  position:relative;
  top:-10px;
  left:20px;
  margin-right:200px;
  margin-bottom:50px;
  padding:2px;
}
.finalbox{
	display: grid;
	border: 5px solid;
  font-weight:bolder;
  border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}
span{
  opacity:0;
  transition: all 0.4s ease;
}
span.fade{
  opacity: 1;
}
a:link{text-decoration:none; color:#bcb943;}
a:visited{color:#38c7c7;}
a:hover{color:#4db378}


.coolbox{
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0e1538;
}
.coolbox{
  box-sizing:border-box;
 font-family:'Poppins',sans-serif;
}
.coolbox{
 position:relative;
 width:300px;
 height:400px;
 display:flex;
 justify-content:center;
 align-items:center;
 background:rgba(1,0,0,0.5);
  margin-left:300px;
  margin-top:50px;
}
.coolbox::before{
  content:'';
 position:absolute;
 width:150px;
  height:100%;
  background:linear-gradient(#9216ab,#e2e824);
 animation:animate 4s linear infinite;
  
}
@keyframes animate{
 0%
 {
    transform:rotate(0deg);
 }
  100%
 {
    transform:rotate(360deg);
 }
}
.coolbox p{
  position:relative;
  color:#fff;
 font-size:1em;
  z-index:10;
}
